* {
  box-sizing: border-box;
}

html, body {
font-family: 'Markazi Text', serif;
 max-width: 1200px;
 margin: 0 auto;
 -moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
}

.shadow{
	-moz-box-shadow: 0 0 3px #ccc;
-webkit-box-shadow: 0 0 3px #ccc;
box-shadow: 0 0 3px #ccc;
}

a {
  text-decoration: none;
}