.header {
	height: 100px;
	margin-bottom: 50px;
}
.container {
	background-color: rgb(242, 242, 242);
	margin:0;
	box-sizing: border-box;
}

.header-top{
	height: 30px;
	background-color: rgba(0, 102, 102,.7);
}

.nav-row {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	font-size: 25px;
	display: none;
	border: 1px solid black;
	border-radius: 5px;
	height: 40px;
	background-color: rgb(0, 102, 102);
}

.nav-row a{
	color: white;
}
.space{
	border: none;
	background-color: rgba(255,255,255,.0) !important;
}

.logo  {
	display: inline-block;
	color: white;
	text-align: center;
	font-size: 80px;
	padding-left: 10px;
}
.social {
	display: inline;float:right;margin-right: 100px;
}
.search-btn{
	display: inline;float:right;margin-right: 50px;

}
.social a , .search-btn a {
	display: block;
	background-color: inherit;
	padding: 5px 5px;
	text-align: center;
	width: 50px;
	height: 30px;
	color: white;
	float: right;
	text-decoration: none;
}
.social a:hover, .search-btn a:hover {
	background-color: rgb(0, 102, 102);
}


.hamburger-icon{
	color: white;
	border : 1px solid white;
  padding: 10px;
}

.hamburger-icon:hover {
	background-color: rgb(0, 102, 102);
}

.navigation {
	display: inline;
	float:right;
	margin-right: 20px;
	margin-top:30px;
}

.navigation a {
	background-color: inherit;
	text-align: center;
	padding-top:30px;
	padding-bottom: 38px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
	width: 50px;
	height: 30px;
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	background-color: rgb(26, 178, 255);
}

.header-bottom{
	height: auto;
	background-color : rgb(102, 204, 255);
	width:100%;
}

#hamburger-btn-close:hover{
background-color: rgb(102, 204, 255);
}

.nav-row a:hover{
	color: black;
}

.hide{
	position: absolute;
	padding-top: 50px;
	background-color:  rgba(0, 102, 102);
  width:0%;
   overflow:hidden;
    white-space:nowrap;
    	-webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;  
    	background-color: rgb(102, 204, 255);
    	z-index: 1;
}

#CheckBox:checked ~ label.hide{
		display: block;
box-shadow: 0 5px 5px -5px #333;
	-webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;  
    width:100%;
}
@media screen and (min-width: 780px){
	.show {
		display: none;
	}
	.hamburger-menu{
		display: none;
	}
}
@media screen and (max-width: 780px){
	.header-top{
		display: none;
	}
	.navigation{
		display: none;
	}
	.search-btn{
		padding-top:5px;
		color: white;
	  border : 1px solid white;
	  text-align: center;
	}
	.nav-row{
	display: block;
	}
	.logo{
		display: flex;
    align-items: center;
    justify-content: center;
	}
	.search-btn{
		margin-top: 35px;
		padding: 0;
	}
	.header-bottom {
		padding-top: 30px;
	}
}


