.grid-container{
	display: grid;
	grid-template-columns: 10px 1fr 300px 10px;
	grid-template-rows: 10px auto auto;
	grid-gap: 20px;
}
.grid-main{
	padding: 30px;
	grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
 background-color: White;
}

.Grid {
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  justify-content: space-around;
}
.Grid-cell {
  flex: 1;
  min-width:250px;
  max-width: 100%;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
  color: white;
   background-color:rgb(102, 204, 255)
}
.card-content{
  font-size: 20px;
  margin-top:0;
  padding: 10px;
}

.card-extra{
  margin-bottom: 10px;
}

.card-logo{
  color: white;
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-img > img:hover{
-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.Grid-cell:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media screen and (max-width: 780px){
	.grid-container{
		margin-top: 15%;
	}
	.grid-main{
					grid-column-start: 1;
			grid-column-end: 4;
	}

	.grid-aside{
			grid-column-start: 1;
			grid-column-end: 4;
		  grid-row-start: 3;
	}
}



